manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
}

docker.enabled = true

process {
  container = 'itx-aph.artifactrepo.jnj.com/nextflow/rnatoy:1.3'
  pod = [imagePullSecret: 'docker-pass']
}

profiles {
  standard { includeConfig 'conf/aws.config' }
  test  { includeConfig 'conf/test.config' }
  local { includeConfig 'conf/local.config' }
}
